* {
	margin: 0px;
	padding: 0px;
	font-family: Century Gothic
}

h1 {
	margin: 8px 0px;
	text-align: center;
}
nav {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-botton:4px;
}

nav button {
	box-shadow: 3px 5px #33332d;
	background-color: white;
	padding: .6rem 1rem;
	border: 3px solid #33332d;
	font-weight: 600;
	font-size: 16px;
}
nav button:hover {
	cursor:pointer;
	transform: translate(2px,2px);
}

/* Home page */
h2 {
	margin: 16px 0px;
	text-align: center;
}


#home-container {
	display: flex;	
	align-items:center;
	flex-direction: column;
}
#home-container img {
	height: 60vh;
	width:auto;
	margin:0 auto;

}
#home-container q {
	font-size:32px;
}

/*menu page*/
#menu-items{
	width:50%;
	margin: 16px auto;
}
.item {
	display:flex;
	justify-content: space-between;
	margin: 8px 0px;
}

/* About page */
#about p {
	text-align: center;
	font-size:16px;
	padding: 16px;
}
